<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Syntax highlighting CSS -->
  <link rel="stylesheet" href="css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/main.css">
  <!-- endbuild -->

</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Gaëtan Le Brun</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="/views/blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="region" id="about">
    <h1>About</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales neque non bibendum mattis. Etiam ornare
      eget dolor et tincidunt. Suspendisse potenti. Sed volutpat arcu ac pretium pellentesque. Nulla eu libero placerat,
      malesuada massa et, vehicula mauris. Duis condimentum diam ac finibus interdum. Pellentesque lacinia mauris quis
      volutpat ornare. Aenean lorem lectus, dictum quis ligula non, vestibulum bibendum est. Duis commodo non nulla
      fermentum vestibulum. Suspendisse aliquam nibh nec sagittis euismod.

      Suspendisse nec pretium nulla, sit amet sollicitudin elit. Curabitur pharetra est sit amet lacus faucibus
      volutpat. Nullam at euismod ipsum, vel dictum quam. Mauris non massa molestie, eleifend odio at, dictum felis.
      Praesent pulvinar eros sit amet condimentum ultricies. Vestibulum condimentum tortor nec risus commodo dignissim.
      Suspendisse sit amet mauris porta, varius felis a, convallis nisl. Sed a semper elit. Aliquam ut dolor a erat
      egestas maximus quis vel orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius odio sit amet
      sagittis venenatis. Curabitur interdum molestie elit, ut venenatis lectus tristique ac. Suspendisse purus leo,
      vulputate at enim vel, porttitor faucibus justo. Donec ornare molestie lacinia. Etiam sed libero nisi. Donec
      euismod erat sem, sed sagittis ligula vestibulum in.

      Suspendisse eu enim a eros elementum volutpat eu sed nunc. Ut nunc sem, euismod et imperdiet eget, vestibulum sed
      diam. Donec elit nisl, egestas ut dui nec, tincidunt sagittis ligula. Aenean id pretium risus. Aliquam turpis
      sapien, malesuada facilisis risus vitae, suscipit imperdiet turpis. Donec vestibulum justo arcu, et volutpat velit
      rhoncus eu. Donec sagittis risus non pharetra tempor. Nunc iaculis varius blandit. Nunc vitae leo vel elit posuere
      sollicitudin. Pellentesque viverra mattis accumsan. Phasellus at purus quam. Nam porttitor fringilla pretium.
      Suspendisse sit amet euismod odio. Curabitur sed tortor ut justo congue hendrerit a et ex. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Nam eleifend orci eu eros dignissim sagittis.

      Vivamus quis augue vel lorem sodales tempus. Vivamus consequat finibus pretium. Morbi at varius mauris, eu
      ultricies diam. Praesent convallis viverra viverra. Fusce eu lectus arcu. Nulla mollis risus id lorem laoreet, a
      faucibus metus fringilla. Fusce tempus, nisl eget posuere condimentum, ex ante pretium lacus, id faucibus ligula
      turpis id tellus. Nulla nec eleifend nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Phasellus vitae arcu ac tellus vulputate venenatis id eget ipsum.
    </p>
  </div>
  <div class="region" id="skills">
    <h1>Skills</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales neque non bibendum mattis. Etiam ornare
      eget dolor et tincidunt. Suspendisse potenti. Sed volutpat arcu ac pretium pellentesque. Nulla eu libero placerat,
      malesuada massa et, vehicula mauris. Duis condimentum diam ac finibus interdum. Pellentesque lacinia mauris quis
      volutpat ornare. Aenean lorem lectus, dictum quis ligula non, vestibulum bibendum est. Duis commodo non nulla
      fermentum vestibulum. Suspendisse aliquam nibh nec sagittis euismod.

      Suspendisse nec pretium nulla, sit amet sollicitudin elit. Curabitur pharetra est sit amet lacus faucibus
      volutpat. Nullam at euismod ipsum, vel dictum quam. Mauris non massa molestie, eleifend odio at, dictum felis.
      Praesent pulvinar eros sit amet condimentum ultricies. Vestibulum condimentum tortor nec risus commodo dignissim.
      Suspendisse sit amet mauris porta, varius felis a, convallis nisl. Sed a semper elit. Aliquam ut dolor a erat
      egestas maximus quis vel orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius odio sit amet
      sagittis venenatis. Curabitur interdum molestie elit, ut venenatis lectus tristique ac. Suspendisse purus leo,
      vulputate at enim vel, porttitor faucibus justo. Donec ornare molestie lacinia. Etiam sed libero nisi. Donec
      euismod erat sem, sed sagittis ligula vestibulum in.

      Suspendisse eu enim a eros elementum volutpat eu sed nunc. Ut nunc sem, euismod et imperdiet eget, vestibulum sed
      diam. Donec elit nisl, egestas ut dui nec, tincidunt sagittis ligula. Aenean id pretium risus. Aliquam turpis
      sapien, malesuada facilisis risus vitae, suscipit imperdiet turpis. Donec vestibulum justo arcu, et volutpat velit
      rhoncus eu. Donec sagittis risus non pharetra tempor. Nunc iaculis varius blandit. Nunc vitae leo vel elit posuere
      sollicitudin. Pellentesque viverra mattis accumsan. Phasellus at purus quam. Nam porttitor fringilla pretium.
      Suspendisse sit amet euismod odio. Curabitur sed tortor ut justo congue hendrerit a et ex. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Nam eleifend orci eu eros dignissim sagittis.

      Vivamus quis augue vel lorem sodales tempus. Vivamus consequat finibus pretium. Morbi at varius mauris, eu
      ultricies diam. Praesent convallis viverra viverra. Fusce eu lectus arcu. Nulla mollis risus id lorem laoreet, a
      faucibus metus fringilla. Fusce tempus, nisl eget posuere condimentum, ex ante pretium lacus, id faucibus ligula
      turpis id tellus. Nulla nec eleifend nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Phasellus vitae arcu ac tellus vulputate venenatis id eget ipsum.
    </p>
  </div>
  <div class="region" id="projects">
    <h1>Projects</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales neque non bibendum mattis. Etiam ornare
      eget dolor et tincidunt. Suspendisse potenti. Sed volutpat arcu ac pretium pellentesque. Nulla eu libero placerat,
      malesuada massa et, vehicula mauris. Duis condimentum diam ac finibus interdum. Pellentesque lacinia mauris quis
      volutpat ornare. Aenean lorem lectus, dictum quis ligula non, vestibulum bibendum est. Duis commodo non nulla
      fermentum vestibulum. Suspendisse aliquam nibh nec sagittis euismod.

      Suspendisse nec pretium nulla, sit amet sollicitudin elit. Curabitur pharetra est sit amet lacus faucibus
      volutpat. Nullam at euismod ipsum, vel dictum quam. Mauris non massa molestie, eleifend odio at, dictum felis.
      Praesent pulvinar eros sit amet condimentum ultricies. Vestibulum condimentum tortor nec risus commodo dignissim.
      Suspendisse sit amet mauris porta, varius felis a, convallis nisl. Sed a semper elit. Aliquam ut dolor a erat
      egestas maximus quis vel orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius odio sit amet
      sagittis venenatis. Curabitur interdum molestie elit, ut venenatis lectus tristique ac. Suspendisse purus leo,
      vulputate at enim vel, porttitor faucibus justo. Donec ornare molestie lacinia. Etiam sed libero nisi. Donec
      euismod erat sem, sed sagittis ligula vestibulum in.

      Suspendisse eu enim a eros elementum volutpat eu sed nunc. Ut nunc sem, euismod et imperdiet eget, vestibulum sed
      diam. Donec elit nisl, egestas ut dui nec, tincidunt sagittis ligula. Aenean id pretium risus. Aliquam turpis
      sapien, malesuada facilisis risus vitae, suscipit imperdiet turpis. Donec vestibulum justo arcu, et volutpat velit
      rhoncus eu. Donec sagittis risus non pharetra tempor. Nunc iaculis varius blandit. Nunc vitae leo vel elit posuere
      sollicitudin. Pellentesque viverra mattis accumsan. Phasellus at purus quam. Nam porttitor fringilla pretium.
      Suspendisse sit amet euismod odio. Curabitur sed tortor ut justo congue hendrerit a et ex. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Nam eleifend orci eu eros dignissim sagittis.

      Vivamus quis augue vel lorem sodales tempus. Vivamus consequat finibus pretium. Morbi at varius mauris, eu
      ultricies diam. Praesent convallis viverra viverra. Fusce eu lectus arcu. Nulla mollis risus id lorem laoreet, a
      faucibus metus fringilla. Fusce tempus, nisl eget posuere condimentum, ex ante pretium lacus, id faucibus ligula
      turpis id tellus. Nulla nec eleifend nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Phasellus vitae arcu ac tellus vulputate venenatis id eget ipsum.
    </p>
  </div>
  <div class="region" id="contact">
    <h1>Contact</h1>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sodales neque non bibendum mattis. Etiam ornare
      eget dolor et tincidunt. Suspendisse potenti. Sed volutpat arcu ac pretium pellentesque. Nulla eu libero placerat,
      malesuada massa et, vehicula mauris. Duis condimentum diam ac finibus interdum. Pellentesque lacinia mauris quis
      volutpat ornare. Aenean lorem lectus, dictum quis ligula non, vestibulum bibendum est. Duis commodo non nulla
      fermentum vestibulum. Suspendisse aliquam nibh nec sagittis euismod.

      Suspendisse nec pretium nulla, sit amet sollicitudin elit. Curabitur pharetra est sit amet lacus faucibus
      volutpat. Nullam at euismod ipsum, vel dictum quam. Mauris non massa molestie, eleifend odio at, dictum felis.
      Praesent pulvinar eros sit amet condimentum ultricies. Vestibulum condimentum tortor nec risus commodo dignissim.
      Suspendisse sit amet mauris porta, varius felis a, convallis nisl. Sed a semper elit. Aliquam ut dolor a erat
      egestas maximus quis vel orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut varius odio sit amet
      sagittis venenatis. Curabitur interdum molestie elit, ut venenatis lectus tristique ac. Suspendisse purus leo,
      vulputate at enim vel, porttitor faucibus justo. Donec ornare molestie lacinia. Etiam sed libero nisi. Donec
      euismod erat sem, sed sagittis ligula vestibulum in.

      Suspendisse eu enim a eros elementum volutpat eu sed nunc. Ut nunc sem, euismod et imperdiet eget, vestibulum sed
      diam. Donec elit nisl, egestas ut dui nec, tincidunt sagittis ligula. Aenean id pretium risus. Aliquam turpis
      sapien, malesuada facilisis risus vitae, suscipit imperdiet turpis. Donec vestibulum justo arcu, et volutpat velit
      rhoncus eu. Donec sagittis risus non pharetra tempor. Nunc iaculis varius blandit. Nunc vitae leo vel elit posuere
      sollicitudin. Pellentesque viverra mattis accumsan. Phasellus at purus quam. Nam porttitor fringilla pretium.
      Suspendisse sit amet euismod odio. Curabitur sed tortor ut justo congue hendrerit a et ex. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Nam eleifend orci eu eros dignissim sagittis.

      Vivamus quis augue vel lorem sodales tempus. Vivamus consequat finibus pretium. Morbi at varius mauris, eu
      ultricies diam. Praesent convallis viverra viverra. Fusce eu lectus arcu. Nulla mollis risus id lorem laoreet, a
      faucibus metus fringilla. Fusce tempus, nisl eget posuere condimentum, ex ante pretium lacus, id faucibus ligula
      turpis id tellus. Nulla nec eleifend nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Phasellus vitae arcu ac tellus vulputate venenatis id eget ipsum.
    </p>
  </div>

  <!--<div class="header">-->
  <!--<ul class="nav nav-pills pull-right">-->
  <!--<h3 class="text-muted">{{ site.name }}</h3>-->
  <!--</ul>-->
  <!--</div>-->

  <!--<div class="jumbotron">-->
  <!--<h1>'Allo, 'Allo!</h1>-->
  <!--<p class="lead">Always a pleasure scaffolding your apps.</p>-->
  <!--<p><a class="btn btn-lg btn-success" href="#">Splendid! <span class="glyphicon glyphicon-ok"></span></a></p>-->
  <!--</div>-->

  <!--<div class="row marketing">-->
  <!--<div class="col-lg-6">-->
  <!--<h4>HTML5 Boilerplate</h4>-->
  <!--<p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.</p>-->

  <!--<h4>Sass</h4>-->
  <!--<p>Sass is a mature, stable, and powerful professional grade CSS extension language.</p>-->


  <!--<h4>Bootstrap</h4>-->
  <!--<p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.</p>-->


  <!--</div>-->
  <!--</div>-->

  <!--<div class="row">-->
  <!--<div class="col-lg-6">-->
  <!--{{ content }}-->
  <!--</div>-->
  <!--</div>-->

  <div class="footer">
    <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>

    <div class="contact">
      <p>
        Gaetan Le Brun<br/>
        <a href="mailto:gaetan.lebrun@gmail.com">gaetan.lebrun@gmail.com</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="https://github.com/yourusername">github.com/yourusername</a><br/>
        <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br/>
      </p>
    </div>
  </div>

</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- endbower -->
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
  (function (b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l;
    b[l] || (b[l] =
      function () {
        (b[l].q = b[l].q || []).push(arguments)
      });
    b[l].l = +new Date;
    e = o.createElement(i);
    r = o.getElementsByTagName(i)[0];
    e.src = '//www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(app) /js/scripts.js -->
<script src="/_bower_components/jquery/dist/jquery.js"></script>
<script src="/_bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
<script src="/js/main.js"></script>
<script src="/js/smooth-scrolling.js"></script>
<!-- endbuild -->
</body>
</html>
